/* Defining the font for "Rishiraj Kanungo"*/
@font-face{
    font-family: nameFont;
    src: url('/Roboto_Mono/RobotoMono-Bold.ttf')
}

@font-face{
    font-family: degreeFont;
    src: url('/Roboto_Mono/RobotoMono-Light.ttf')
}


/* Background Setup*/
body{
    background-color: #fff8e8;
    opacity: 1;
    transition: 1s opacity;
}
body.fade{
    opacity: 0;
    transition: none;
}

/* Formatting the navigation */
.menu{
    display: table;
    margin: auto;
}

/* Formatting Navigation Menu at top*/
.btn button{
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    border-radius: 4px;
    font-size: 18px;
    padding: 14px 40px;
    font-family: degreeFont;
    background: #fff8e8;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
/* Hover animation for Navigation Bar*/
.btn button:hover{
    background: #1f1f1f;
    color: #fff8e8;
}
/* Make the list in navigation horizontal */
#menu li{
    display: inline;
}

/* Setting up the circle picture and centering it */
#circlePic{
    width: 450px;
    height: 450px;
    background: #1f1f1f;
    border-radius: 450px;
    margin: auto;
}

/* Center text of my name */
.name{
    text-align: center;
    color: #1f1f1f;
    font-size: 20px;
}
.typed-cursor{
    font-size: 48px;
    opacity: 1;
    animation: blink .7s infinite;

    @keyframes blink {
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
#text{
    display: inline;
    padding-top: 2%;
    font-size: 48px;
    font-family: nameFont;
    color: #1f1f1f;
}

/* Center text of my degree */
#degree{
    text-align: center;
    font-family: degreeFont;
    color: #1f1f1f;
}

/* About Me portion formatting */
.aboutme h2{
    text-align: center;
    font-family: nameFont;
    color: #1f1f1f;
}
.aboutme p{
    text-align: center;
    font-family: degreeFont;
    padding-left: 25%;
    padding-right: 25%;
    color: #1f1f1f;

}

/* Tech Skills formatting */
.tech_skills{
    text-align: center;  
    color: #1f1f1f; 
}
/* Padding the images on top*/
#skill_item{
    padding: 1.5%;
}
/* Padding each image from eachother*/
#skill_item img{
    transition: .2s;
    padding-left: 3%;
    padding-right: 3%;
}
#skill_item img:hover{
    transform: scale(1.1);
}



/* Work Experience Formatting*/
.work_exp{
    text-align: center;
    color: #1f1f1f;
}
.work_exp h2{
    font-family: nameFont;
    color: #1f1f1f;
}
#worked_at li{
    display: inline;
    color: #1f1f1f;
}

/* Projects Formatting*/
.projects{
    text-align: center;
    color: #1f1f1f;
}
.projects h2{
    font-family: nameFont;
    color: #1f1f1f;
}

/* Social Media Formatting */
.social_media{
    text-align: center;
    color: #1f1f1f;
}
.social_media h2{
    font-family: nameFont;
    color: #1f1f1f;
}