.menu{
    display: table;
    margin: 0 auto;
}


#menu li{
    display: inline;
}

#circlePic{
    width: 350px;
    height: 350px;
    background: black;
    border-radius: 350px;
    margin: auto;
}